<div class="container">
  <div class="row">
    <div *ngIf="techInfo" >
      <h1 class="font-weight-bold text-danger">
        <img [src]="techInfo.blogIconName" class="mr-2" alt="Not found" > <u>{{techInfo.blog}}:</u>
      </h1>
      <p class="text-justify text-capitalize p-3 bg-light rounded">
        {{techInfo.shortNote}}
      </p>
    </div>
  </div>

  <!-- Blog List -->
  <div class="row">
    <div *ngFor="let subTech of techInfo.subTechs" class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4 p-3 make-it-slow rounded" (click)="getBlogDetails(subTech.subTech)">
      {{subTech.subTech}}
    </div>
  </div>

</div>