<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-9">
      <h2>All Blogs</h2>
      <div class="card btn btn-outline-primary font-weight-bold" data-toggle="collapse" data-target="#demo">
        <div class="card-body fontSize">Core Java</div>
      </div>

      <div id="demo" class="collapse">
        <div class="row">
          <div class="col-6">
            <div class="card my-2 shadow">
              <div class="card-body">
                <div class="card-text d-inline">Abstraction</div>
                <div class="float-right">
                  <i data-toggle="tooltip" title="Edit Blog" class="btn btnfocus btn-outline-primary fa fa-pencil fa-md"></i>
                  <i data-toggle="tooltip" title="Delete Blog" class="btn btnfocus btn-outline-danger fa fa-trash-o fa-md"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card my-2 shadow">
              <div class="card-body">
                <h5 class="card-text">Encapsulation</h5>
              </div>
            </div>
            <div class="card my-2 shadow">
                <div class="card-body">
                  <h5 class="card-text">Inheritance</h5>
                </div>
              </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-2"></div>
  </div>
</div>